<script id="tmpl-tips" type="text/viewscript">
<div style="position: absolute; top: 50%; left: 50%; font-size: 20px; color: #fff; line-height: 20px; padding: 10px 20px; border-radius: 3px; background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.6); -webkit-transform: translate3d(-50%, -50%, 0); -ms-transform: translate3d(-50%, -50%, 0); transform: translate3d(-50%, -50%, 0); -webkit-transition: opacity 0.1s linear; transition: opacity 0.1s linear; display: none;">

</div>
</script>
