@CHARSET "UTF-8";

body {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	margin: 0px 0px;
	padding: 0px 0px;
}

a {
	text-decoration: none;
	color: black;
}

a:HOVER {
	
}


.full-screen {
	width: 100%; 
	position: absolute; 
	top: 0px; 
	bottom: 0px; 
	background-image: url('../images/vc.jpg'); 
	background-position: center center; 
	background-repeat: no-repeat; 
	background-size: 100% 100%;
}

.menu-bar, .nav-bar {
	/*
	height: 40px; 
	*/
	width: 100%; 
	position: fixed; 
	background-color: blue; 
	z-index: 1000; 
	opacity: 0.6; 
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#80000000', EndColorStr='#80000000');
}

.menu-bar-2_0, .nav-bar-2_0 {
	position: absolute; 
	top: 0px; 
}

.menu-bar-bottom, .nav-bar-bottom {
	position: absolute; 
	bottom: 0px;
}

.tool_bar {
	position: relative; 
	background-color: white; 
	z-index: 1000; 
	opacity: 1; 
}

.nav-bar .nav-bar-box {
	width: 100%; 
	display: -moz-box; 
	display: -webkit-box; 
	display: box; 
	box-pack: center; 
	-moz-box-pack: center; 
	-webkit-box-pack: center; 
	-o-box-pack: center;
}

.nav-bar .nav-bar-box .nav-bar-box-item {
	width: 100%; 
	height: 40px; 
	line-height: 40px; 
	display: -moz-box; 
	display: -webkit-box; 
	display: box; 
	box-flex: .1; 
	-moz-box-flex: .1; 
	-webkit-box-flex: .1; 
	box-pack: start; 
	-moz-box-pack: start; 
	-webkit-box-pack: start; 
	-o-box-pack: start;
}

.nav-bar .nav-bar-box .nav-bar-box-center-item {
	box-pack: center; 
	-moz-box-pack: center; 
	-webkit-box-pack: center; 
	-o-box-pack: center;
}

.nav-bar .nav-bar-box .nav-bar-box-default-item {
	width: 100%; 
	height: 40px; 
	line-height: 40px; 
	display: -moz-box; 
	display: -webkit-box; 
	display: box; 
}

.nav-bar .nav-bar-box .nav-bar-box-end-item {
	box-pack: end; 
	-moz-box-pack: end; 
	-webkit-box-pack: end; 
	-o-box-pack: end;
}

.list-item-default {
	width: 100%;
	margin: 0px 0px;
	padding: 0px 0px;
	-webkit-margin-before: 0px; 
	-webkit-margin-after: 0px; 
	-webkit-margin-start: 0px; 
	-webkit-margin-end: 0px; 
	-webkit-padding-start: 0px;
	font-size: 15px; 
	font-family: Arial, 'Microsoft YaHei';
	list-style: none;
	display: inline-block;
}
	
.list-item {
	width: 100%;
	border-bottom-style: solid;
	border-bottom-color: silver;
	border-bottom-width: 1px;
	margin: 0px 0px;
	padding: 0px 0px;
	font-size: 15px; 
	font-family: Arial, 'Microsoft YaHei';
	list-style: none;
	display: inline-block;
}

.list-item-t {
	height: 32px;
	line-height: 32px; 
	-webkit-padding-start: 0px;
	-webkit-margin-before: 0em;
  	-webkit-margin-after: 0em;
}

.list-item-t-default {
	-webkit-padding-start: 0px;
	-webkit-margin-before: 0em;
  	-webkit-margin-after: 0em;
}

.list-item-t p, .list-item p {
	margin: 0px 0px;
	padding: 0px 0px;
}

.list-item-t-item-normal {
	margin: 0px 0px;
	padding: 0px 0px;
	font-size: 15px; 
	font-family: Arial, 'Microsoft YaHei';
	float: left;
}

.list-item-t-item-default {
	/*
	height: 32px;
	line-height: 32px; 
	*/
	margin: 0px 0px;
	padding: 0px 0px;
	font-size: 15px; 
	font-family: Arial, 'Microsoft YaHei';
	/*
	display: inline-block;
	*/
}

.list-item-t-item {
	height: 32px;
	line-height: 32px; 
	margin: 0px 0px;
	padding: 0px 0px;
	border-bottom: 0px solid #ccc !important;
	font-size: 15px; 
	font-family: Arial, 'Microsoft YaHei';
	float: left;
	display: inline;
}

.list-item-t-item-normal-right {
	/*
	height: 32px;
	line-height: 32px; 
	*/
	margin: 0px 0px;
	padding: 0px 0px;
	border-bottom: 0px solid #ccc !important;
	font-size: 15px; 
	font-family: Arial, 'Microsoft YaHei';
	float: right;
	display: inline-block;
	vertical-align: middle;
}

.list-item-t-item-right {
	height: 32px;
	line-height: 32px; 
	margin: 0px 0px;
	padding: 0px 0px;
	border-bottom: 0px solid #ccc !important;
	font-size: 15px; 
	font-family: Arial, 'Microsoft YaHei';
	float: right;
	display: inline;
}
