.order-item {
	width: 70px;
}

.list-item-t-item-preview-cart-img-back {
	display: block;
	height: 32px;
  	line-height: 32px;
  	width: 32px;
	background-image: url("../images/kgp.png");
  	background-repeat: no-repeat;
  	background-position: center center;
}